body {
  margin-top : 70px;
  background-color: #E8E8E8;
}

tr {
    cursor : pointer;
}

.tab-pane {
    height: 100vh;
}

#logoutButton {
    margin-right : 5px;
}

a:visited{
  color:blue;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.dataTables_wrapper .dataTables_filter label {
    width: 100%;
}

.dataTables_wrapper .dataTables_filter label input {
    width: 65%;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 0.4%;
    border-style: solid;
    border-color: #585858;
    padding-left: 10px;
}

.profileDataTablesCash {
    display: inline;
}

/* Navigation bar CSS */

.navbar-default {
  background-color: #000000;
  border-color: #E8E8E8;
  position: fixed;
  width: 100%;
  z-index:1;
  margin-top: -70px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #7a7a7a;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #7a7a7a;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #E8E8E8;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #E8E8E8;
}
.navbar-default .navbar-toggle {
  border-color: #E8E8E8;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #E8E8E8;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #7a7a7a;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #7a7a7a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #7a7a7a;
    background-color: #eeeeee;
  }
}


/* Stock Info Page */
.back {
    text-align: left;
}

.availableCash, .totalEquities, .total {
    text-align: right;
    font-size: 20px;
    padding-right: 30px;
    padding-top: 5px;
}

.stockInfoPage {
    padding-left: 28px;
    font-size: 17px;
}

.stockInfoPageBackButton {
    font-size: 18px;
    margin-bottom: 10px;
}

.stockName {
    font-size: 35px;
}

.stockInfoPageStockSymbolName {
    font-size: 35px;
}

.stockPrice {
    font-size: 25px;
}

#stockGraph {
    max-width: 100%;
    height: 500px;
    width: 100%;
}

.column3 {
    padding: 0px;
}

.buySellRadioInput {
    margin-top: 3px;
    margin-bottom: 3px;
}

.quantityBar {
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
}

input[type=range] {
    display: inline;
    width: 40%;
}

.stockInfoPageStockQuantity {
    width: 70px;
    height: 30px;
}

.stockInfoPageStocksConfirmButton {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 42%;
}


/* Horizontal loading bar */
#fountainG{
    position:relative;
    width:234px;
    height:28px;
    margin:auto;
}

.fountainG{
    position:absolute;
    top:0;
    background-color:rgb(0,0,0);
    width:28px;
    height:28px;
    animation-name:bounce_fountainG;
        -o-animation-name:bounce_fountainG;
        -ms-animation-name:bounce_fountainG;
        -webkit-animation-name:bounce_fountainG;
        -moz-animation-name:bounce_fountainG;
    animation-duration:1.5s;
        -o-animation-duration:1.5s;
        -ms-animation-duration:1.5s;
        -webkit-animation-duration:1.5s;
        -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
    animation-direction:normal;
        -o-animation-direction:normal;
        -ms-animation-direction:normal;
        -webkit-animation-direction:normal;
        -moz-animation-direction:normal;
    transform:scale(.3);
        -o-transform:scale(.3);
        -ms-transform:scale(.3);
        -webkit-transform:scale(.3);
        -moz-transform:scale(.3);
    border-radius:19px;
        -o-border-radius:19px;
        -ms-border-radius:19px;
        -webkit-border-radius:19px;
        -moz-border-radius:19px;
}

#fountainG_1{
    left:0;
    animation-delay:0.6s;
        -o-animation-delay:0.6s;
        -ms-animation-delay:0.6s;
        -webkit-animation-delay:0.6s;
        -moz-animation-delay:0.6s;
}

#fountainG_2{
    left:29px;
    animation-delay:0.75s;
        -o-animation-delay:0.75s;
        -ms-animation-delay:0.75s;
        -webkit-animation-delay:0.75s;
        -moz-animation-delay:0.75s;
}

#fountainG_3{
    left:58px;
    animation-delay:0.9s;
        -o-animation-delay:0.9s;
        -ms-animation-delay:0.9s;
        -webkit-animation-delay:0.9s;
        -moz-animation-delay:0.9s;
}

#fountainG_4{
    left:88px;
    animation-delay:1.05s;
        -o-animation-delay:1.05s;
        -ms-animation-delay:1.05s;
        -webkit-animation-delay:1.05s;
        -moz-animation-delay:1.05s;
}

#fountainG_5{
    left:117px;
    animation-delay:1.2s;
        -o-animation-delay:1.2s;
        -ms-animation-delay:1.2s;
        -webkit-animation-delay:1.2s;
        -moz-animation-delay:1.2s;
}

#fountainG_6{
    left:146px;
    animation-delay:1.35s;
        -o-animation-delay:1.35s;
        -ms-animation-delay:1.35s;
        -webkit-animation-delay:1.35s;
        -moz-animation-delay:1.35s;
}

#fountainG_7{
    left:175px;
    animation-delay:1.5s;
        -o-animation-delay:1.5s;
        -ms-animation-delay:1.5s;
        -webkit-animation-delay:1.5s;
        -moz-animation-delay:1.5s;
}

#fountainG_8{
    left:205px;
    animation-delay:1.64s;
        -o-animation-delay:1.64s;
        -ms-animation-delay:1.64s;
        -webkit-animation-delay:1.64s;
        -moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
    0%{
    transform:scale(1);
        background-color:rgb(65,65,235);
    }

    100%{
    transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainG{
    0%{
    -o-transform:scale(1);
        background-color:rgb(65,65,235);
    }

    100%{
    -o-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_fountainG{
    0%{
    -ms-transform:scale(1);
        background-color:rgb(65,65,235);
    }

    100%{
    -ms-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_fountainG{
    0%{
    -webkit-transform:scale(1);
        background-color:rgb(65,65,235);
    }

    100%{
    -webkit-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_fountainG{
    0%{
    -moz-transform:scale(1);
        background-color:rgb(65,65,235);
    }

    100%{
    -moz-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

/* Spinning loading bar */
#floatingCirclesG{
    position:relative;
    width:144px;
    height:144px;
    margin:auto;
    transform:scale(0.6);
        -o-transform:scale(0.6);
        -ms-transform:scale(0.6);
        -webkit-transform:scale(0.6);
        -moz-transform:scale(0.6);

    /* Center the spinner vertically */
    top: 50%;
    transform: translateY(-50%);
}

.f_circleG{
    position:absolute;
    background-color:rgb(255,255,255);
    height:26px;
    width:26px;
    border-radius:14px;
        -o-border-radius:14px;
        -ms-border-radius:14px;
        -webkit-border-radius:14px;
        -moz-border-radius:14px;
    animation-name:f_fadeG;
        -o-animation-name:f_fadeG;
        -ms-animation-name:f_fadeG;
        -webkit-animation-name:f_fadeG;
        -moz-animation-name:f_fadeG;
    animation-duration:0.992s;
        -o-animation-duration:0.992s;
        -ms-animation-duration:0.992s;
        -webkit-animation-duration:0.992s;
        -moz-animation-duration:0.992s;
    animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
    animation-direction:normal;
        -o-animation-direction:normal;
        -ms-animation-direction:normal;
        -webkit-animation-direction:normal;
        -moz-animation-direction:normal;
}

#frotateG_01{
    left:0;
    top:59px;
    animation-delay:0.3695s;
        -o-animation-delay:0.3695s;
        -ms-animation-delay:0.3695s;
        -webkit-animation-delay:0.3695s;
        -moz-animation-delay:0.3695s;
}

#frotateG_02{
    left:17px;
    top:17px;
    animation-delay:0.496s;
        -o-animation-delay:0.496s;
        -ms-animation-delay:0.496s;
        -webkit-animation-delay:0.496s;
        -moz-animation-delay:0.496s;
}

#frotateG_03{
    left:59px;
    top:0;
    animation-delay:0.6125s;
        -o-animation-delay:0.6125s;
        -ms-animation-delay:0.6125s;
        -webkit-animation-delay:0.6125s;
        -moz-animation-delay:0.6125s;
}

#frotateG_04{
    right:17px;
    top:17px;
    animation-delay:0.739s;
        -o-animation-delay:0.739s;
        -ms-animation-delay:0.739s;
        -webkit-animation-delay:0.739s;
        -moz-animation-delay:0.739s;
}

#frotateG_05{
    right:0;
    top:59px;
    animation-delay:0.8655s;
        -o-animation-delay:0.8655s;
        -ms-animation-delay:0.8655s;
        -webkit-animation-delay:0.8655s;
        -moz-animation-delay:0.8655s;
}

#frotateG_06{
    right:17px;
    bottom:17px;
    animation-delay:0.992s;
        -o-animation-delay:0.992s;
        -ms-animation-delay:0.992s;
        -webkit-animation-delay:0.992s;
        -moz-animation-delay:0.992s;
}

#frotateG_07{
    left:59px;
    bottom:0;
    animation-delay:1.1085s;
        -o-animation-delay:1.1085s;
        -ms-animation-delay:1.1085s;
        -webkit-animation-delay:1.1085s;
        -moz-animation-delay:1.1085s;
}

#frotateG_08{
    left:17px;
    bottom:17px;
    animation-delay:1.235s;
        -o-animation-delay:1.235s;
        -ms-animation-delay:1.235s;
        -webkit-animation-delay:1.235s;
        -moz-animation-delay:1.235s;
}



@keyframes f_fadeG{
    0%{
        background-color:rgb(24,72,168);
    }

    100%{
        background-color:rgb(226,224,255);
    }
}

@-o-keyframes f_fadeG{
    0%{
        background-color:rgb(24,72,168);
    }

    100%{
        background-color:rgb(226,224,255);
    }
}

@-ms-keyframes f_fadeG{
    0%{
        background-color:rgb(24,72,168);
    }

    100%{
        background-color:rgb(226,224,255);
    }
}

@-webkit-keyframes f_fadeG{
    0%{
        background-color:rgb(24,72,168);
    }

    100%{
        background-color:rgb(226,224,255);
    }
}

@-moz-keyframes f_fadeG{
    0%{
        background-color:rgb(24,72,168);
    }

    100%{
        background-color:rgb(226,224,255);
    }
}