<!DOCTYPE html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

<!-- Include all the necessary files that the html pages requires-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/simulator.css">
<script src="js/uiMethods.js"></script>
<script src="js/stock_table_methods.js"></script>


<title>Stock Simulator</title>
<div id="stock_simulator">
    <div id="topbar">
        <span id="usernameBox">{{username}}</span> 
        <span id="cashBox">{{cash}}</span>
        <span id="logoutButton"> <input type="submit" value="Logout"> </span>
    </div>
    
    <a href="#" id="loginPageLink">Login</a> <!-- Will be removed later..-->
    <a href="#" id="stockTablePageLink">Browse Stocks</a>
    
    <div id="tabs">
        <div id="loginPage">
            <div id="errorBox"></div>
            <div id="login">
                Login:
                <form id="loginForm">
                    Username: <input type="text" name="username" maxLength="20" size="50"><br>
                    Password: <input type="password" name="password" autocomplete="off" maxLength="30" size="50"><br>
                    <input type="submit" value="Login">
                </form>
            </div>
            
            <div id="createAccount">
                Create Account:
                <form id="createAccountForm">
                    Username: <input type="text" name="username" maxLength="20" size="50"><br>
                    Password: <input type="password" name="password" autocomplete="off" maxLength="30" size="50"><br>
                    Retype Password: <input type="password" name="retypePassword" autocomplete="off" maxLength="30" size="50"><br>
                    Email: <input type="text" name="email" maxLength="30" size="50"><br>
                    <input type="submit" value="Create Account">
                </form>
            </div>
            <a href="#" id="loginLink">Login</a>
            <a href="#" id="createAccountLink">Create Account</a>
        </div>
        
        <div id="stockTablePage">
            <form id="searchStocksForm">
            Search: <input id="stockSearchBar" autocomplete="off" type="text" name="searchbar" size="100"> 
            </form>
            
            <table id="stocks_table"></table>
            <button id="previousStocksButton" type="button">Previous</button>
            <button id="nextStocksButton" type="button">Next</button>
            <br><br>
            
            <div id="previewBuyStockBox">
                Available Cash: <span></span>
                Stock Name: <span id="previewBuyStockSymolName"></span> <br>
                Price: <span id="previewBuyStockPrice"></span> <br>
                Quantity: <input id="previewBuyStockQuantity" autocomplete="off" type="text" name="searchbar" size="10"> <br>
                Total Price: <span id="previewBuyStockTotalPrice">0.00</span> <br>
                <button id="nextStocksButton" type="button">Buy</button>
            </div>
            
            
        </div>
    </div>
</div>
