<!DOCTYPE html>
{% include 'standard_head.html' %}

<div id="loadingbar-frame">
    <div id="stock_simulator">
        <div class="stockInfoPage">
            <div class ="container-fluid">
                <div class="row">
                    <div class="col-xs-6 back">
                        <button class="stockInfoPageBackButton" type="button">Back</button>
                    </div>
                    <div class="col-xs-6 availableCash">
                        Available Cash: $<span class="stockInfoPageTotalCash">{{cash|e}}</span><br>
                    </div>
                </div>
            </div>
            <div class ="container-fluid">
                <div class="row">
                    <div class="col-xs-6 column1">
                        <span class="stockName">{{name|e}}</span>
                        <span class="stockInfoPageStockSymbolName">({{symbol|e}})</span><br>
                        <div class ="stockPrice">
                            <span class="stockInfoPageStockPrice">{{price|e}}</span><font size="2">&nbsp;USD</font>&nbsp;
                            {% if change == "increase" %}
                                <span class="glyphicon glyphicon-arrow-up" style="color:#4CC417"></span>
                            {% endif %}
                            {% if change == "decrease" %}
                            <span class="glyphicon glyphicon-arrow-down" style="color:#E42217"></span>
                            {% endif %}
                            <span class="stockPriceChange">{{daily_price_change|e}}</span>
                            <span class="stockPercentChange">({{daily_percent_change|e}})</span><br>
                        </div>
                        <!--Insert Graph-->
                        <div style="max-width:500px;">
                            <img src="../../resources/images/Graph_Placeholder.jpg" class="graph"><br>
                        </div>
                        <!--Day Week Month Year Link-->
                        <div class ="container-fluid">
                            <div class="row">
                                <div class="col-xs-2"><a href="url">Day</a></div>
                                <div class="col-xs-2"><a href="url">Week</a></div>
                                <div class="col-xs-2"><a href="url">Month</a></div>
                                <div class="col-xs-2"><a href="url">Year</a></div>
                            </div><br>
                        </div>
                        <div class="col-xs-4 column3">
                            Open: <span class="stockInfoPageDayOpen">{{day_open|e}}</span><br>
                            High: <span class="stockInfoPageDayHigh">{{day_high|e}}</span><br>
                            Low: <span class="stockInfoPageDayLow">{{day_low|e}}</span><br>
                        </div>
                        <div class="col-xs-8 column4">
                            Mkt Cap<br>
                            P/E Ratio<br>
                            Div Yield<br>
                        </div>
                    </div>
                    <div class="col-xs-6 column2">
                        Amount Owned: <span class="stockInfoPageAmountOwned">{{num_owned|e}}</span><br>
                        <form>
                            <div class="buySellRadioInput">
                                <input type="radio" name="market" value="buy" class="buyStockRadioButton" checked> Buy
                                &nbsp;&nbsp;&nbsp;
                                <input type="radio" name="market" value="sell" class="sellStockRadioButton"> Sell
                            </div>

                            Quantity:<br>
                            <div class="quantityBar">
                                <input class="slider" type="range" name="amountRange" min="0" max="100" value="0"
                                       oninput="onStockQuantityBarChange(this.form, this.value)" />
                                &nbsp;&nbsp;
                                <input class="stockInfoPageStockQuantity" type="number" name="amountInput" min="0" max="100"
                                       value="0" oninput="onStockQuantityInputChange(this.form, this.value)" />
                            </div>
                            Commission: <span class="stockInfoPageCommission">0.00</span><br>
                            Total Price: <span class="stockInfoPageStockTotalPrice">0.00</span><br>
                            <button class="stockInfoPageStocksConfirmButton" type="button">Confirm</button>
                        <!--                <input type="submit"> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>