<div id="stock_simulator">{% include 'nav_bar.html' %}</div>

<div class="stockInfoPage">

    <div class="row">
        <div class="col-xs-6 back">
            <button class="stockInfoPageBackButton" type="button">Back</button>
        </div>
        <div class="col-xs-6 availableCash">
            <span class="stockInfoPageTotalCash">Available Cash: ${{cash|e}}</span><br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 column1">
            <span class="stockName">{{name|e}}</span>
            <span class="stockInfoPageStockSymbolName">({{symbol|e}})</span><br>
            <div class ="stockPrice">
                <span class="stockInfoPageStockPrice">{{price|e}}</span><font size="2">&nbsp;USD</font>&nbsp;
                {% if change == "increase" %}
                    <span class="glyphicon glyphicon-arrow-up" style="color:#4CC417"></span>
                {% endif %}
                {% if change == "decrease" %}
                <span class="glyphicon glyphicon-arrow-down" style="color:#E42217"></span>
                {% endif %}
                <span class="stockPriceChange">{{daily_price_change|e}}</span>
                <span class="stockPercentChange">({{daily_percent_change|e}})</span><br>
            </div>
            <!--Insert Graph-->
            <div style="max-width:500px;">
                <img src="../../resources/images/Graph_Placeholder.jpg" class="graph"><br>
            </div>
            <!--Day Week Month Year Link-->
            <div class="row">
                <div class="col-xs-2"><a href="url">Day</a></div>
                <div class="col-xs-2"><a href="url">Week</a></div>
                <div class="col-xs-2"><a href="url">Month</a></div>
                <div class="col-xs-2"><a href="url">Year</a></div>
            </div><br>
            <div class="col-xs-4 column3">
                Open: <span class="stockInfoPageDayOpen">{{day_open|e}}</span><br>
                High: <span class="stockInfoPageDayHigh">{{day_high|e}}</span><br>
                Low: <span class="stockInfoPageDayLow">{{day_low|e}}</span><br>
            </div>
            <div class="col-xs-8 column4">
                Mkt Cap<br>
                P/E Ratio<br>
                Div Yield<br>
            </div>
        </div>
        <div class="col-xs-6 column2">
            Amount Owned: <span class="stockInfoPageAmountOwned">{{num_owned|e}}</span><br>
            <form>
                <div class="buySellRadioInput">
                    <input type="radio" name="market" value="buy" class="buyStockRadioButton" checked> Buy
                    &nbsp;&nbsp;&nbsp;
                    <input type="radio" name="market" value="sell" class="sellStockRadioButton"> Sell
                </div>

                Quantity:<br>
                <div class="quantityBar">
                    <input class="slider" type="range" name="amountRange" min="0" max="100" value="0" oninput="this.form.amountInput.value=this.value" />
                    &nbsp;&nbsp;
                    <input class="stockInfoPageStockQuantity" type="number" name="amountInput" min="0" max="100" value="0" oninput="this.form.amountRange.value=this.value=this.value.replace(/[^0-9]/g,'0');" />
                </div>
                Commission: <span class="stockInfoPageCommission">0.00</span><br>
                Total Price: <span class="stockInfoPageStockTotalPrice">0.00</span><br>
                <button class="stockInfoPageStocksConfirmButton" type="button">Confirm</button>
            <!--                <input type="submit"> -->
            </form>
        </div>
    </div>

</div>

<!-- Bootstrap core CSS -->
<link href="../../bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/simulator.css">
<link rel="stylesheet" type="text/css" href="../css/stock_info_page.css">