<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico" />

    <title>Stock Meister</title>

    <!--Code to prevent flash of unstyled content-->
    <style type="text/css">
      .js #flash {display: none;}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
      $('html').addClass('js');
      $(document).ready(function() {
        $('#flash').show();
      });
    </script>
  </head>

  <body id="flash">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="root-title">
        <div class="container">
            <h1>Stock Meister</h1>
            <p>Buy, Sell, Dominate.</p>
        </div>

        <br>
        <div style="font-size: 16px"><b>Thank you for registering for an account.</b><br><br></div>
        <div>We've sent an email to __________. Please follow the link in the email to confirm your account to gain access to the site.</div>
        <div>If you can not find the email, please check your spam folder or click on the button below to resend it.<br><br></div>
        <div>
            <button class="btn btn-md btn-primary" type="button">Resend Confirmation</button>
        </div>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
  </body>
</html>