<table id="profile_table" class="display">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Amount Owned</th>
            <th>Price Bought</th>
            <th>Current Price</th>
            <th>Price Difference</th>
            <th>Percent Difference</th>
            <th>Day Price Difference</th>
            <th>Day Percent Difference</th>
            <th>Investment</th>
            <th>Total Value</th>
        </tr>
    </thead>
    <tbody>
        <!--<div id="floatingCirclesG">-->
            <!--<div class="f_circleG" id="frotateG_01"></div>-->
            <!--<div class="f_circleG" id="frotateG_02"></div>-->
            <!--<div class="f_circleG" id="frotateG_03"></div>-->
            <!--<div class="f_circleG" id="frotateG_04"></div>-->
            <!--<div class="f_circleG" id="frotateG_05"></div>-->
            <!--<div class="f_circleG" id="frotateG_06"></div>-->
            <!--<div class="f_circleG" id="frotateG_07"></div>-->
            <!--<div class="f_circleG" id="frotateG_08"></div>-->
        <!--</div>-->
    </tbody>
    <tfoot>
        <tr>
            <th>Symbol</th>
            <th>Amount Owned</th>
            <th>Price Bought</th>
            <th>Current Price</th>
            <th>Price Difference</th>
            <th>Percent Difference</th>
            <th>Day Price Difference</th>
            <th>Day Percent Difference</th>
            <th>Investment</th>
            <th>Total Value</th>
        </tr>
    </tfoot>
</table>