<div class="row">
        <div class="col-xs-12 availableCash">
            Available Cash: <span class="stockInfoPageTotalCash"></span>
        </div>
</div>

<table id="profile_table" class="display">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Amount Owned</th>
            <th>Price Bought</th>
            <th>Current Price</th>
            <th>Price Difference</th>
            <th>Percent Difference</th>
            <th>Day Price Difference</th>
            <th>Day Percent Difference</th>
            <th>Investment</th>
            <th>Total Value</th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO: This is kinda a hack to get the spinner in the table, should find a better way-->
        <tr>
            <td colspan="10">{% include 'loaders/spinner.html' %}</td>
            <td hidden></td>
            <td hidden></td>
            <td hidden></td>
            <td hidden></td>
            <td hidden></td>
            <td hidden></td>
            <td hidden></td>
            <td hidden></td>
            <td hidden></td>
        </tr>
    </tbody>
</table>