<!DOCTYPE html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

<title>Stock Simulator</title>

<body>
    <div id="stock_simulator">
        <nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="javascript:void(0)">Brand</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul id="navbarTabs" class="nav navbar-nav" role="tablist">
					<li class="active">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
                    </li>
					<li>
                        <a href="#stocks" aria-controls="stocks" role="tab" data-toggle="tab">Stocks</a>
                    </li>
                    <li>
                        <a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">Statistics</a>
                    </li>
                    <li>
                        <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                    </li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="javascript:void(0)">Link</a></li>
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="javascript:void(0)">Action</a></li>
							<li><a href="javascript:void(0)">Another action</a></li>
							<li><a href="javascript:void(0)">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="javascript:void(0)">Separated link</a></li>
						</ul>
					</li>
                    <li>
                        <!--<button type="submit" class="btn navbar-btn" action="logout" method="post">Log out</button>-->
                        <form action="logout" method="post">
                            <button id="logoutButton" type="submit" class="btn navbar-btn" formmethod="post" formaction="logout">Log Out</button>
                        </form>
                    </li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>

        <!-- All the tab markup will be in here -->
        <div class="tab-content">

            <!-- Profile Tab -->
            <div role="tabpanel" class="tab-pane active" id="profile">
                {% include 'profile_table.html' %}
                <iframe id="stock_info_iframe" frameborder="0" hidden></iframe>
            </div>

            <!-- Stocks Tab -->
            <div role="tabpanel" class="tab-pane" id="stocks">
                {% include 'stocks_table.html' %}
                <br><br>

                <div id="previewBuyStockBox">
                    Available Cash: <span id="previewBuyStockCash"></span> <br>
                    Stock Name: <span id="previewBuyStockSymolName"></span> <br>
                    Price: <span id="previewBuyStockPrice"></span> <br>
                    Quantity: <input id="previewBuyStockQuantity" autocomplete="off" type="text" name="quantitybar" size="10"> <br>
                    Total Price: <span id="previewBuyStockTotalPrice">0.00</span> <br>
                    <button id="previewBuyStocksBuyButton" type="button">Confirm Buy</button>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="statistics">TODO</div>
            <div role="tabpanel" class="tab-pane" id="settings">TODO</div>
          </div>
    </div>

    <!-- Include all the necessary files that the html pages requires-->
    <!-- TODO: Find a better way to import all the js files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/api_client.js"></script>
    <script src="js/profile_tab.js"></script>
    <script src="js/browse_tab.js"></script>
    <script src="js/utility.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" language="javascript" src="../../DataTables/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../DataTables/datatables.min.css">

    <!-- Bootstrap -->
    <script src="bootstrap-3.3.6/dist/js/bootstrap.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS, this should be placed after the Bootstrap core CSS to override it-->
    <link rel="stylesheet" type="text/css" href="css/simulator.css">
</body>

</html>