<!DOCTYPE html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

<title>Stock Simulator</title>

<head>
    <!--Code to prevent flash of unstyled content-->
    <style type="text/css">
      .js #flash {display: none;}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
      $('html').addClass('js');
      $(document).ready(function() {
        // Stuff to do as soon as the DOM is ready
        $('#flash').show();
      });
    </script>
</head>

<body id="flash">
<div id="stock_simulator">
   {% include 'nav_bar.html' %}

    <!-- All the tab markup will be in here -->
    <div class="tab-content">

        <!-- Profile Tab -->
        <div role="tabpanel" class="tab-pane active" id="profile">
            <div>
                <div id="profileTableContainer"> {% include 'profile_table.html' %} </div>
                {% include 'stock_info_page.html' %}
            </div>
        </div>
            <!-- Stocks Tab -->
            <div role="tabpanel" class="tab-pane" id="stocks">
                <div id="stockTableContainer"> {% include 'stocks_table.html' %} </div>
                {% include 'stock_info_page.html' %}
            </div>

            <div role="tabpanel" class="tab-pane" id="watching">TODO</div>
            <div role="tabpanel" class="tab-pane" id="leaderboard">TODO</div>
    </div>

    <!-- Include all the necessary files that the html pages requires-->
    <!-- TODO: Find a better way to import all the js files-->

    <!-- DataTables -->
    <script type="text/javascript" language="javascript" src="../../DataTables/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../DataTables/datatables.min.css">

    <script src="js/api_client.js"></script>
    <script src="js/profile_tab.js"></script>
    <script src="js/browse_tab.js"></script>
    <script src="js/utility.js"></script>
    <script src="js/stock_info_page.js"></script>
    <script src="js/mutually_exclusive_container.js"></script>

    <!-- Bootstrap -->
    <script src="bootstrap-3.3.6/dist/js/bootstrap.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS, this should be placed after the Bootstrap core CSS to override it-->
    <link rel="stylesheet" type="text/css" href="css/simulator.css">
</div>
</body>

</html>