<meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
<meta content="utf-8" http-equiv="encoding"/>

<title>Stock Simulator</title>

<head>
    {% include 'standard_imports.html' %}
    <!--Code to prevent flash of unstyled content-->
    <style type="text/css">
      .js #flash {display: none;}
    </style>

    <script type="text/javascript">
      $('html').addClass('js');
      $(document).ready(function() {
        // Stuff to do as soon as the DOM is ready
        $('#flash').show();
      });
    </script>
    {% include 'nav_bar.html' %}
</head>