<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Youtube-like ajax loading bar -->
<script type="text/javascript" language="javascript" src="/lib/youtube-like-ajax-loading-bar/js/jquery.loadingbar.js"></script>
<link rel="stylesheet" type="text/css" href="/lib/youtube-like-ajax-loading-bar/css/loadingbar.css">

<!-- DataTables -->
<script type="text/javascript" language="javascript" src="/lib/DataTables/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="/lib/DataTables/datatables.min.css">

<script src="/js/ajax_loading.js"></script>
<script src="/js/utility.js"></script>

<!-- Bootstrap Javascript-->
<script src="/lib/bootstrap-3.3.6/dist/js/bootstrap.js"></script>

<!-- Bootstrap core CSS -->
<link href="/lib/bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Simulator's css -->
<link rel="stylesheet" type="text/css" href="/css/simulator.css">

<!-- AM Charts -->
<script src="/lib/amstockchart_3.20.7.free/amcharts/amcharts.js" type="text/javascript"></script>
<script src="/lib/amstockchart_3.20.7.free/amcharts/serial.js" type="text/javascript"></script>
<script src="/lib/amstockchart_3.20.7.free/amcharts/amstock.js" type="text/javascript"></script>
<!-- This is needed for the AM Charts graph slider to move around outside the graph -->
<script src='https://www.amcharts.com/lib/3/amcharts.js?ver=20160921-01' type='text/javascript'></script>
