<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Youtube-like ajax loading bar -->
<script type="text/javascript" language="javascript" src="../../youtube-like-ajax-loading-bar/js/jquery.loadingbar.js"></script>
<link rel="stylesheet" type="text/css" href="../../youtube-like-ajax-loading-bar/css/loadingbar.css">

<!-- DataTables -->
<script type="text/javascript" language="javascript" src="../../DataTables/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../DataTables/datatables.min.css">

<script src="/js/profile_tab.js"></script>
<script src="/js/browse_tab.js"></script>
<script src="/js/ajax_loading.js"></script>
<script src="/js/stock_info_page.js"></script>
<script src="/js/utility.js"></script>
<script src="/js/api_client.js"></script>
<script src="/js/initialize_page.js"></script>

<!-- Bootstrap Javascript-->
<script src="/bootstrap-3.3.6/dist/js/bootstrap.js"></script>

<!-- Bootstrap core CSS -->
<link href="/bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/simulator.css">