<div id="stockInfoPage" hidden>
    <button id="stockInfoPageBackButton" type="button">Back</button><br>

    Available Cash: <span id="stockInfoPageTotalCash"></span> <br>
    Stock Name: <span id="stockInfoPageStockSymbolName">{{symbol}}</span> <br>
    Price: <span id="stockInfoPageStockPrice">{{price}}</span> <br>
    Quantity: <input id="stockInfoPageStockQuantity" autocomplete="off" type="text" name="quantitybar" size="10"><br>
    Total Price: <span id="stockInfoPageStockTotalPrice">0.00</span> <br>

    <button id="stockInfoPageStocksBuyButton" type="button">Buy</button>
    <button id="stockInfoPageStocksSellButton" type="button">Sell</button>
</div>