<table id="stocks_table" class="display">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Daily Percent Change</th>
            <th>Daily Price Change</th>
            <th>Stock Price</th>
            <th>Buy</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Daily Percent Change</th>
            <th>Daily Price Change</th>
            <th>Stock Price</th>
            <th>Buy</th>
        </tr>
    </tfoot>
</table>