<div class="row">
        <div class="col-xs-12 availableCash">
            Available Cash: <span class="stockInfoPageTotalCash"></span>
        </div>
</div>

<table id="stocks_table" class="display">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Daily Percent Change</th>
            <th>Daily Price Change</th>
            <th>Stock Price</th>
            <th>Buy</th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO: This is kinda a hack to get the spinner in the table, should find a better way-->
        <tr>
            <td colspan="6">{% include 'loaders/spinner.html' %}</td>
            <td hidden></td>
            <td hidden></td>
            <td hidden></td>
            <td hidden></td>
            <td hidden></td>
        </tr>
    </tbody>
</table>