{% include 'standard_head.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}

<body id="flash">
    <div id="loadingbar-frame">
        <div id="stock_simulator">
            <!-- change_password_form is the name of the form that Flask-Security uses - look in flask_security/views.py -->
            {% set changePasswordError = get_form_error(change_password_form) %}
            <h1>Change password</h1>

            <!-- Note: each input should have a label associated with it for screen readers (to assist the handicapped).
               The labels will not show up on the screen.
            -->
            <div class="container" id="changePasswordDiv">
                <div class="alert alert-danger error" role="alert" {% if not changePasswordError %} hidden {% endif %}>
                   {{changePasswordError}}
                </div>
                <form class="form-signin" action="change" method="post">
                    <label for="password" class="sr-only">Current Password</label>
                    <input name="password" type="password" id="password" class="form-control" placeholder="Current Password" required autofocus>

                    <label for="new_password" class="sr-only">New Password</label>
                    <input name="new_password" type="password" id="new_password" class="form-control" placeholder="New Password" required>

                    <label for="new_password_confirm" class="sr-only">Retype New Password</label>
                    <input name="new_password_confirm" type="password" id="new_password_confirm" class="form-control" placeholder="Retype New Password" required>

                    <button id="submit" name="submit" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </form>
            </div> <!-- /container -->
        </div>
    </div>
</body>