<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico" />

    <title>Stock Meister</title>

    <!--Code to prevent flash of unstyled content-->
    <style type="text/css">
      .js #flash {display: none;}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
      $('html').addClass('js');
      $(document).ready(function() {
        $('#flash').show();
      });
    </script>
  </head>

  <body id="flash">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="root-title">
        <div class="container">
            <h1>Stock Meister</h1>
            <p>Buy, Sell, Dominate.</p>
        </div>

        <!-- login_user_form is the name of the form that Flask-Security uses - look in flask_security/views.py -->
        {% set loginError = get_form_error(login_user_form) %}

        <!-- register_user_form is the name of the form that Flask-Security uses - look in flask_security/views.py -->
        {% set createAccountError = get_form_error(register_user_form) %}

        <!-- Note: each input should have a label associated with it for screen readers (to assist the handicapped).
           The labels will not show up on the screen.
        -->
        <div class="container" id="loginDiv" {% if createAccountError %} hidden {% endif %}>
            <div class="alert alert-danger error" role="alert" {% if not loginError %} hidden {% endif %}>
               {{loginError}}
            </div>
            <form class="form-signin" action="login" method="post">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

                <label for="inputPassword" class="sr-only">Password</label>
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

                <div class="checkbox">
                    <label><input type="checkbox" name="remember-me" value="true" checked> Remember me </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
            <a id="createAccountLink" href="#">
            Don't have an account? Create one here.
            </a>
            <a id="forgotPasswordLink" href="#">
            <!--Forgot password?-->
            </a>
        </div> <!-- /container -->

        <div class="container" id="createAccountDiv" {% if not createAccountError %} hidden {% endif %}>
            <div class="alert alert-danger error" role="alert" {% if not createAccountError %} hidden {% endif %}>
              {{createAccountError}}
            </div>
            <form class="form-signin" action="register" method="post">
                <!-- The name of the below input must be email because Flask-Security looks for that name -->
                <label for="createAccountInputEmail" class="sr-only">Email address</label>
                <input name="email" type="email" id="createAccountInputEmail" class="form-control" placeholder="Email address" required autofocus>

                <label for="inputUsername" class="sr-only">Username</label>
                <input name="username" id="inputUsername" class="form-control" placeholder="Username" required>

                <!-- The name of the below input must be password because Flask-Security looks for that name -->
                <label for="createAccountInputPassword" class="sr-only">Password</label>
                <input name="password" type="password" id="createAccountInputPassword" class="form-control" placeholder="Password" required>

                <label for="retype_password" class="sr-only">Retype Password</label>
                <!-- The name of the below input must be password_confirm because Flask-Security looks for that name -->
                <input name="password_confirm" type="password" id="retype_password" class="form-control" placeholder="Retype Password" required>
                <br>

                <div class="g-recaptcha" data-sitekey="6Lf7ZBoTAAAAAEG8hc7yYPmlbJC6YI75Trt8QUTg"></div>

                <button id="createAccountButton" class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
            </form>
            <a id="loginLink" href="#">
             Already have an account? Login here.
            </a>
       </div> <!-- /container -->
    </div>

    <!-- Google Recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
    <script src="js/login_page.js"></script>
    <script src="js/mutually_exclusive_container.js"></script>
  </body>
</html>
